<li>
    {{name}}

    <button class="change-eating" data-id="{{id}}" data-neweat="{{eat}}">

        {{#if eat}}EAT EAT EAT!!!{{else}}Dont
    </button>
    <button class="delete-food" data-id="{{this.id}}">SPOILED FOOD DELETE IT</button> 
</li>